{% load static %}
<li>
    <article class = "post">
        <a href="">
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"/>
            <div class = "post_content">
                <h3>Mountain Hiking.</h3>
                <p>Best Views.!! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eos incidunt ipsum, fugiat dolore voluptas itaque vitae est minus nostrum aperiam, obcaecati cum necessitatibus nisi ratione? Itaque esse expedita vero?</p>
            </div>
        </a>

    </article>
</li>